* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem;
}

.body-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 1rem;
}

.body-section-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/0.jpg');
  background-size: cover;
  border-radius: 6px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
  margin: 0 auto;
}

nav ul li {
  background-color: black;
  padding: .4rem;
  min-width: 20px;
  border-radius: 6px;
}

nav ul li a {
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 4px;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

nav img {
  width: 22%;
  border-radius: 6px;
  border: 2px solid black
}

h1 {
  width: 100%;
  padding: 1.6rem 0rem;
  font-size: 2rem;
  color: white !important;
  background-color: black;
}

main {
  background-color: lightyellow;
  font-size: 1.5rem;
}

#main-tag {
  padding: 1rem;
}

.main-tag-img {
  min-height: 600px;
  background-image: url('../images/1.jpg');
}

.main-tag-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.main-tag-grid img {
  width: 100%;
  border-radius: 6px;
}

.main-tag-flex {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.main-tag-flex img {
  border-radius: 6px;
  width: 30%;
}

.welcome-text {
  padding-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  border-radius: 6px;
  background-color: black;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

/* li {
  display: inline-block;
  min-width: 60px;
} */

h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blue;
}

p {
  line-height: 2rem;
}

#skip-text {
  background-color: aqua;
  color: blue;
}

@media (min-width: 768px) {
  .main-tag-grid {
    grid-template-columns: 1fr 1fr;
  }
  
  .main-tag-flex {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}